<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBjZuFMPn41I1JunEy7NooUBeOwbWYDJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>647489793588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ltfest.mobile</string>
	<key>PROJECT_ID</key>
	<string>ltfest-push</string>
	<key>STORAGE_BUCKET</key>
	<string>ltfest-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647489793588:ios:744fc13c24fced353e2461</string>
</dict>
</plist>